---

---

<section
  class="slide-in-from-left w-full bg-[#00b2dd] flex flex-col md:flex-row justify-center md:justify-between"
  id="documental"
>
  <div
    class="md:flex-row md:p-16 flex justify-center gap-6 flex-col w-full p-4"
  >
    <div class="w-full flex flex-col gap-6 justify-center px-4 md:text-left">
      <!-- Columna del texto -->
      <h2 class="text-2xl md:text-4xl text-[#ffffff] font-bold mb-4">
        DOCUMENTAL
      </h2>
      <p
        class="text-lg text-[#ffffff] text-justify leading-relaxed md:max-w-xl"
      >
        <!-- Ajuste del ancho máximo del texto -->
        Este documental fue creado por los estudiantes de informática del IUTA Jorge
        Torres, Gabriel Molina, Santiago Ruiz, Luis Roque y Sebastián Becerra. Quienes
        pusieron su empeño, dedicación y esfuerzo en brindar un documental que refleje
        la historia, la dedicación y la vida estudiantil dentro del liceo José Ángel Álamo.
      </p>
      <p
        class="text-lg text-[#ffffff] text-justify leading-relaxed md:max-w-xl"
      >
        A lo largo del documental, se presentan entrevistas con alumnos que
        comparten sus experiencias y recuerdos, así como con profesores que han
        dedicado años a la enseñanza y formación de jóvenes.
      </p>
    </div>

    <div class="w-full pt-[56.25%] md:pt-[26.25%] relative overflow-hidden">
      <!-- Columna del video -->
      <iframe
        class="absolute top-0 right-0 left-0 bottom-0 w-full h-full object-contain"
        src="https://www.youtube.com/embed/L8xAYHUUq60?si=E3SjTLnX1FMsaugU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</section>

<style>
  @keyframes slideInFromLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .slide-in-from-left {
    view-timeline-name: --slide-in-from-left;
    view-timeline-axis: block;

    animation-timeline: --slide-in-from-left;
    animation-name: slideInFromLeft;
    animation-duration: 3s;
    animation-range: entry 1% cover 50%;
  }
</style>
