---

---

<header class="text-white absolute w-full z-10 py-4 flex items-center justify-center gap-4">
    <nav class="w-full flex justify-center">
        <ul class="flex items-center justify-center gap-8 w-full max-w-[1200px]">
            <li><a href="#inicio" class="hover:underline ease-in-out duration-300 transition">Inicio</a></li>
            <li><a href="#nosotros" class="hover:underline ease-in-out duration-300 transition">Nosotros</a></li>
            <li><a href="#historia" class="hover:underline ease-in-out duration-300 transition">Historia</a></li>
            <li class="flex items-center justify-center">
                <img src="../../img/alamo-blanco.png" class="w-48  mx-auto" alt="Logo de la institución">
            </li>
            <li><a href="#objetivos" class="hover:underline ease-in-out duration-300 transition">Objetivos</a></li>
            <li><a href="#documental" class="hover:underline ease-in-out duration-300 transition">Documental</a></li>
            <li><a href="#contacto" class="hover:underline ease-in-out duration-300 transition">Contacto</a></li>
        </ul>
    </nav>
</header>





<style>
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li img {
    width: 100px; /* Ajusta según sea necesario */
}



</style>
