---


---


<section class="w-full py-20 md:py-16 px-4 md:px-8 bg-[#00b2dd] flex flex-col items-center md:flex-row" id="historia">
    <div class="w-full max-w-5xl px-4 md:px-20 text-center md:text-left">
      <h2 class="text-2xl md:text-4xl text-[#ffffff] font-bold mb-4">HISTORIA</h2>
      <p class="text-lg text-[#ffffff] leading-relaxed ">
        En el año de mil novecientos sesenta y siete (1967), en el mes de septiembre se funda el Liceo "José Angel Alamo" ubicado en las esquinas Manduca a Ferrenquin de la Parroquia de la Candelaria.
        Entre sus fundadores se encuentra el Profesor José Rojas Armas (1er Director del Liceo), la Sub-Directora era la- Profesora Rita Rodriguez, los profesores Hector Marcano, Carlos Martinez, José Manuel Hernandez, Carmen de Sosa, Saida - de Ascanio, José Manuel Catarí, Hilda Guaido, Fanny de Paez, Maria Marrero y la profesora Luz Ascanio, la secretaria Lucía Marcano y la Sra. Camacho del Personal de Servicio.
        El Liceo "José Ángel Álamo" recibe este nombre por ser este uno de los hombres que contribuyó a la Independencia de Venezuela.      </p>
    </div>
  </section>
  
  
  